body{display:flex;min-height:100vh;flex-direction:column;font-family:'Noto Sans TC', sans-serif, Helvetica, Arial, sans-serif;margin:auto}main{flex:1 0 auto}text{font:10px sans-serif}.datashow{margin-left:auto;margin-right:auto}a{cursor:pointer}


img{
	min-height: 300px;
	max-height: 300px;
	width: auto !important;
    margin: 0 auto;
    max-width: 225px;
}
.center {
	margin-left: auto;
	margin-right: auto;
}

nav{
	margin-bottom: 20px;
}